body{
    background-color: #393E46;
}

.container{
    text-align: center;
}

h1{
    font-family: 'Lobster', cursive;
    font-size: 8rem;
    margin: 30px;
    text-shadow: 5px 0 #232931;
    color: #4ECCA3;
}

.dice{
    display: inline-block;
    text-align: center;
}

p{
    font-family: 'Indie Flower', cursive;
    font-size: 2rem;
    color: #4ECCA3;
}

img{
    width: 80%;
}

footer{
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

hr{
    margin-top: 20px;
    width: 500px;
    border:1px solid #EEEEEE;
    border-radius: 2px;
}